.auth-page {
    width: 100vw;
    height: 100vh;
    background-image: url('assets/img/home-page-background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.large-spacer {
    height: 25%;
}

.auth-form {
    margin-top: 100px;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
}

.row {
    width: 100%;
    margin: 0;
}

span{
    text-align: center;
}

.side-bar div {
    border: 1px solid blue;
}

.side-bar input {
    width: 20%;
}

.element-center {
    margin-left: auto;
    margin-right: auto;
}

.small-panel {
    width: 30%;
    padding: 10px;   
}

h3 span {
    font-weight: bold;
    color: white;
}

h3 {
    text-align: center;
}