<div class="container">
<div class="row large-spacer-100">
  <div id="primary">
    <!--General introduction part -->
    <div class="row">
      <div class="col-md-6 section-title"><span class="section-title-text">Aaron Wu,</span></div>
    </div>
    <div class="row section-content">
      <div class="col-md-10">
        <p>Software Engineer II at eBay Inc started from 18th April, 2016</p>
        <p>Graduate student of Computer Science at George Washington University.</p>
        <p>Strongly self-motivated. Keep passionate to learn new techniques</p>
        <p>Professional skills in Software Testing and J2EE web development. Basic understanding for android and IOS so that I also have job interests in Mobile(Android/IOS) development.</p>
      </div>
      <div class="col-md-1"><img class="profile-img" src="https://img3.doubanio.com/img/celebrity/large/1379419350.74.jpg" alt="profileImg"/></div>
    </div>
    <hr>
    
    <app-content-section-with-img *ngFor="let skillIntroSection of skillIntroSections" [contentSection]="skillIntroSection"></app-content-section-with-img>

  </div>
</div>
</div>