<div class="container page-root-wrapper footer">
  <div class="row">
    <p class="page-root-text col-md-6">Proudly powered by Aaron Wu | Theme: inspired by "Sydney Themes" from WordPress!</p>
    <div class="col-md-1"></div>
    <div class="page-root-text col-md-5">
      <p>Github: Frontend - <a href="https://github.com/QunWu/QunWuDomainFrontEnd_Angular.git">QunWuDomainFrontEnd_Angular</a>, Backend  - <a href="https://github.com/QunWu/QunWuDomain.git">QunWuDomain</a></p>
    </div>
  </div>
</div>
