/* You can add global styles to this file, and also import other style files */
.small-spacer-20 {
    margin-top: 20px;
}

.medium-spacer-40{
    margin-top: 40px;
}

.large-spacer-100{
    margin-top: 100px;
}