<app-navigation-header></app-navigation-header>
<div class="container">
  <app-carousel></app-carousel>
<div>
<div class="container">
  <div id="primary" class="main-content">
    <!--General introduction part -->
    <div class="row">
      <div class="col-md-6 section-title"><span class="section-title-text">Aaron Wu,</span></div>
    </div>
    <div class="row section-content">
      <div class="col-md-10">
      <p>Software Engineer II at eBay Inc started from 18th April, 2016</p>
      <p>Graduate student of Computer Science at George Washington University.</p>
      <p>Strongly self-motivated. Keep passionate to learn new techniques</p>
      <p>Professional skills in Software Testing and J2EE web development. Basic understanding for android and IOS so that I also have job interests in Mobile(Android/IOS) development.</p>
      </div>
      <div class="col-md-1"><img class="profile-img" src="https://img3.doubanio.com/img/celebrity/large/1379419350.74.jpg" alt="profileImg"/></div>
    </div>
    <hr>
    <!-- Skill introduction part-->
    <div class="row">
      <div class="col-md-6 section-title"><span class="section-title-text">Software Testing</span></div>
    </div>
    <div class="row section-content">
      <div class="col-md-12">
        <p>Familiar with industrial testing life cycle. Designed and structured full stack testing for eBay motors selling. File few product bugs, improving the buyer experience. Code coverage of service testing reached 65%. Plus the UI testing, the code coverage of automation was figured out to be 75%. Be professional in JUnit, TestNG, Selenium and Appium.</p>
      </div>
    </div>
    <div class="row spacer">
      <div class="col-md-6 section-title"><span class="section-title-text">Web Application</span></div>
    </div>
    <div class="row section-content">
      <div class="col-md-12">
        <p>Professional in web development, especially for J2EE. Experienced at  implementing RESTful API based on Spring. Deep understanding the  java frameworks Struts, Spring and Hibernate. PHP like WordPress and Drupal is another choice for me. AngularJS, jQuery/UI, Bootstrap gear me up for front end. If you are looking for a full stack programmer who can ramp up quickly, I’m the best candidate you want.</p>
      </div>
    </div>
    <div class="row spacer">
      <div class="col-md-6 section-title"><span class="section-title-text">Software Testing</span></div>
    </div>
    <div class="row section-content">
      <div class="col-md-12">
        <p>Be passionate at android development and ever completed some applications to help me understand such as MiniFlickr. Interest in hybrid framework like Ionic to implement mobile application using html/css/js. Based on my professional knowledge in java and web development, i’m able to grow up quickly in a short-term training.</p>
        <p>Swift is my choice for IOS which is more like a object-oriented language than objective C. Before long, in this year, from Apr to Jun, I did help someone do the UI design for IOS app. Although the work is not heavy, I have learnt something about IOS development.</p>
      </div>
    </div>
  </div>
</div>