<div class="container home-page-container">
    <div class="row home-page-main-content-wrapper vertically-center">
        <div class="row centralize"><span class="title">Aaron Wu' Domain</span></div>

        <div class="row centralize small-spacer-20">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 home-page-search-form">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="input-group">
                        <input required type="text" id="search" name="search" class="form-control" placeholder="Search for post..." ngModel>
                        <span class="input-group-btn"><button class="btn btn-default" type="button" [disabled]="!f.valid">Go!</button></span>
                    </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-3"></div>
        </div>

        <div class="row centralize small-spacer-20">
            <app-clock></app-clock>
        </div>

        <div class="row centralize small-spacer-20">
            <a href="profile" class="roll-button">Go To Profile</a>
        </div>
    </div>
</div>